{% extends "network/layout.html" %}

{% block body %}
<h1>Following</h1>
<div id="posts">
    {% post in posts %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'profile' post.user.username %}">{{post.user.username}}</a></h5>
            {% if post.user_id == user.id %}
            <a href="'#" class="card-link" id="edit_link_{{post.id}}" data-id="{{post.id}}" data-toggle="modal" >Edit</a>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}